html {
    scroll-behavior: smooth;
}
.navbar {
    font-family: 'Rajdhani', sans-serif;
}

.sensor {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 250px;
}

.cara {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 180px;
}

.tentang {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 280px;
}

.penggunaan {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 230px;
}

.label {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 180px;
}

.vid {
    margin-left: 90px;
}

.carousel-item {
    height: 680px !important;
}

.row .col-md-8 {
    font-size: 20px;
}

.row .col-md-3 {
    margin-left: 95px;

}

.row .col-md-3 img {
    margin-top: 40px;
    width: 300px;
    height: 300px;
}

.row .col-md-2 {
    margin-right: 180px;

}

.row .col-md-2 img {
    margin-top: 100px;
    width: 330px;
    height: 350px;
}

.container .vid {
    text-align: center;
}
hr {
    margin-top: -55px;
}