@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
html {
	scroll-behavior: smooth;
}

.jumbotron {
	background-image: url('img/jumbotron.jpg');
	background-size: cover;
	height: 620px;
}

.jumbotron .display-4 {
	margin-top: 150px;
	margin-left: 520px;
	font-size: 32px !important;
	font-weight: bold;
}

.jumbotron .lead {
	margin-left: 520px;
}

.jumbotron hr {
	margin-left: 520px;
	width: 600px;
}

.jumbotron .btn {
	margin-left: 520px;
}

.jumbo .jumbotron {
	background-image: url('img/about.jpg');
}

hr {
	width: 100px;
	border-top: 3px solid #eaeaea;
}
.container .form-group input {
	border-radius: 20px;
}

.container .form-group textarea {
	border-radius: 20px;
	background-color:rgba(0, 0, 0, 0);
	color: whitesmoke;
}
.container .form-group input {
	background-color:rgba(0, 0, 0, 0);
	color: whitesmoke;
}
.col-md-3 img {
	margin-left: 70px;
	margin-top: 50px;
}

@media screen and (max-width:768px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

}