html {
	scroll-behavior: smooth;
}

.jumbotron {
	background-image: url('img/jumbotron2.jpg');
	background-size: cover;
	height: 620px;
	margin-top: 50px;
}

.jumbotron .lead {
	font-size: 20px;
	padding: 50px;
	margin-left: 420px;
	margin-right: 30px;
	color: #fff;
}

.jumbotron hr {
	margin-left: 350px;
	width: 600px;
	color: #fff;
}